.booking {
    display: flex;
    justify-content: center;
    margin: 2rem auto;

}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    font-size: 16px;
}

input {
    padding: 5px;
    font: 1rem sans-serif;
}